.area {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  max-width: 50rem;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

/* 
.btnList {
  display: flex;
  justify-content: flex-start;
} */
